// Active Admin CSS Styles
@import "active_admin/mixins";
@import "active_admin/base";
@import "chosen";

// To customize the Active Admin interfaces, add your
// styles here:

a, a:link, a:visited { color:#BD1B1C; }
form fieldset ol > li label { font-weight:normal; }
form fieldset > ol > li.boolean label { width:80% !important; }

form fieldset legend span {
  text-transform: uppercase;
  color: #444;
  font-size:1.1em;
  font-weight:100;
}

select { min-width:200px }

h1, h2, h3, h4, h5, h6 {
  font-weight:100 !important;
  color:#606060; 
}

#header {
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  background-repeat: repeat-x;

  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

#header ul#tabs > li a { border-radius:5px; }
#header ul#tabs > li.current > a { background:#4c4c4c; }
#header ul#tabs > li > a:hover,
#header ul#tabs > li ul,
#header ul#tabs > li.has_nested:hover > a,
#header ul#tabs > li.has_nested.current > a { background-color:#626262; }

#header ul#tabs > li ul,
#header ul#tabs > li.has_nested:hover > a { border-radius:4px; }

#header ul#tabs > li.has_nested:hover > a { border-bottom-color:#626262; }

#header ul#tabs > li ul { margin-top:3px; }

#title_bar h2 { font-size:2.2em; }

.breadcrumb a, .breadcrumb a:link, .breadcrumb a:visited, .breadcrumb a:active { color:#666; }

.attributes_table table th { color:#111; }

a.table_tools_button { color:#838A90; }
.table_tools_segmented_control li a { color:#444; }

table.index_table a { text-decoration:none; }

.sidebar_section .presupuesto.attributes_table th { width:130px; }
#active_admin_content #main_content_wrapper #main_content {
  margin-right: 390px;
}
#active_admin_content #sidebar {
  width: 360px;
  margin-left: -360px;
}
